node_modules
.idea
npm-debug.log
built
config.js
typings/**/*.js
shared/**/*.js
libs/**/*.js
jobs/**/*.js
tests/**/*.js
scripts/*.js
test/**/*.js
*.js.map
.env
coverage
exports/*
npm-debug.log*
docker_volumes/*
.DS_Store
